.maincon{
    display: flex;
    width: 80%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
}
.profile{
    margin-right: auto;
}
.pro{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}
.profile{
    display: flex;
    justify-content: flex-end;
    margin-right: 5%;
}
.title{
    margin-right: 10px;
}
.row{
    display: flex;
}
.drop{
    height: 70%;
    text-align: center;
    margin: auto;
}