.maincon{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    
}
.row{
    display: flex;
    justify-content: center;
    align-items: center;
}
.end{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.changecon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}